extends ../layouts/header.pug
append head
    title='Trang thông tin'
    link(rel="stylesheet", href="/css/custom.css")

block content
    nav.navbar.navbar-light.bg-blue.banner(style='background-image: url("/images/bg_banner.png");')
            a.navbar-brand(href='/giangvien')
                img.d-inline-block.align-top(src='/images/banner.png')
            h4#tag Lịch giảng dạy
    div.info
        p= 'Họ tên: ' + hoten
        div.signout
            a(href="/giangvien/logout") Đăng xuất
    .container.pt-5
        .row
            .col
                h3 Lịch dạy
        .row
            .col
                table.table.table-hover
                    thead
                        tr
                            th STT
                            th Thứ
                            th Mã học phần
                            th Tên học phần
                            th Tiết dạy
                            th Phòng học
                            th Tuần
                    tbody
                        - var n = 1;
                        each mon in lichday
                            tr
                                td= n++
                                td= mon.thu
                                td= mon.id_monhoc
                                td= mon.tenmonhoc
                                td= mon.tietday
                                td= mon.phonghoc
                                td= mon.tuan
